@import '../components/header_wave';
@import "../components/footer_wave";

main.container {
    flex-grow: 1;
}

.gallery-card {
    //max-height: 150px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    & .gallery-thumbnail {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.card-action {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    & a {
        //color: #fff;
        color: var(--main-color);
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, .5);
        width: 2rem;
        height: 2rem;

        //border-radius: .375rem;
        border-radius: 50%;
        transition:
                background-color .3s ease-in-out,
                color .3s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    & a:hover {
        color: #fff;
        background-color: var(--main-color);
    }
}
//.gallery-show {
//    transition: opacity .3s ease-in-out;
//}
//.gallery-show:hover {
//    opacity: .5;
//}
