@import '../components/header_wave';
@import "../components/footer_wave";
@import "../components/pagination_admin_style";

main.container {
    flex-grow: 1;
}
.gallery-card {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    & .gallery-thumbnail {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.card-action {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    & a {
        color: var(--main-color);
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, .8);
        width: 1.6rem;
        height: 1.6rem;
        font-size: .8rem;
        border-radius: 50%;
        transition:
            background-color .3s ease-in-out,
            color .3s ease-in-out,
            border .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & a:hover {
        color: #fff;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
    }
}
// tooltip
.custom-tooltip {
    --bs-tooltip-bg: var(--main-color);
}

// categories
.section-category {
    &:has(li) {
        margin-bottom: 2rem;
    }
    & ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        & a.btn.btn-main.category.active {
            background-color: #fff;
            color: var(--main-color)
        }
    }
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .card-action {
        & a {
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
        }
    }
}