<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex d-md-none py-3 logo">
                <img src="{{ asset('build/images/logo.png') }}" alt="logo">
            </div>
            <div class="col-12 col-md-6 contact py-3">
                <span class="bold">Contact Agathe:</span> +33 695 59 29 37
            </div>
            <div class="col-12 col-md-6 social py-3">
                <i class="fa-brands fa-pinterest"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </div>
    </div>
</footer>