@import "./helper/variables";
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

:root {
    --main-color: #4869ee;
    --main-dark-color: #3c5be3;
    --main-light-color: #e1e9ff;
    --main-extra-light-color: #fbfbff;
    --main-dark-color-rgba: rgba(60,91,227,.5);
    --breadcrumb-color: #effbec;
    --box-shadow-rgba: rgba(17, 1, 68, 0.08);
    --hamburger-color: #333;
    --invalid-color: #dc3545;
    --invalid-text-color: #b02a37;
    --invalid-text-color-rgba: rgba(176,42,55,.3);
    --success-color: #329332;
}

/** page-wrapper **/
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.bold {
    font-weight: bold;
}
.btn.btn-main {
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    color: #fff;
}
.btn.btn-main:hover,
.btn.btn-main:active {
    background-color: var(--main-dark-color);
    border-color: var(--main-dark-color);
    color: #fff;
}
.btn.btn-main:focus-visible {
    box-shadow: 0 0 0 0.25rem var(--main-dark-color-rgba);
}
