@import "./helper/variables";
@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

/** page-wrapper **/
.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.bold {
    font-weight: bold;
}
.btn.btn-main {
    background-color: $main-color;
    border: solid 1px $main-color;
    color: #fff;
}
.btn.btn-main:hover,
.btn.btn-main:active {
    background-color: $main-hover-color;
    border-color: $main-hover-color;
    color: #fff;
}
.btn.btn-main:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(60,91,227,.5);
}
