@import "./components/custom_checkbox";
.login-container {
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto 1rem;
}

.card-login {
    --card-img-border-radius: calc(.375rem - 1px);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
    width: 100%;
    margin: auto auto;
}
.card-body {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-img {
    height: 290px;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(47, 47, 47, .7)), url('../images/login-min.jpg') center/cover no-repeat;
    border-radius: var(--card-img-border-radius) var(--card-img-border-radius) 0 0;
}

// password
.password-icon {
    margin-left: -2rem;
}
.password-icon.show {
    color: #1771E6;
}

@media (min-width: 992px) {
    .login-container {
        margin: 1rem auto 1rem;
    }
    .card-login {
        flex-direction: row-reverse;
        min-height: 550px;
        width: 85%;
    }
    .card-img {
        flex: 1 1 0;
        border-radius: 0 var(--card-img-border-radius) var(--card-img-border-radius) 0;
        height: auto;
    }
}